name: Release Docker
on:
    workflow_dispatch:
  
jobs:
    release:
        runs-on: ubuntu-latest
        
        steps:
    
          - name: Checkout
            uses: actions/checkout@v4

          - name: Setup .NET Core
            uses: actions/setup-dotnet@v3
            with: 
                dotnet-version: 10

          
          - name: Login to GitHub Container Registry
            uses: docker/login-action@v3
            with:
                registry: ghcr.io
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}

          - name: Build Docker
            run: |
                sed -i "s|<Version>.*</Version>|<Version>$(date +%Y.%m.%d).${{github.run_number}}</Version>|" "IMDB.API.ApiService/IMDB.API.ApiService.csproj"
                docker build --platform linux/amd64 . -f IMDB.API.ApiService/Dockerfile --tag ghcr.io/dustypigtv/imdb.api:latest --push
